.dan {
  margin: 0 auto;
  max-width: 700px;
  height: 100px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.txt {
  font-family: sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 130%;
  color: grey;
  display: block;
  margin: auto;
}
.howtxt {
  font-family: sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 140%;
  color: grey;
  display: block;
  margin: auto;
  width: 85%;
}
.info {
  font-family: sans-serif;
  font-weight: 30;
  font-style: normal;
  font-size: 175%;
  color: grey;
  display: block;
  margin: auto;
  width: 100%;
}
